* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
    min-width: 0;
}

.htmx-indicator {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator {
    opacity: 1;
}
.htmx-request.htmx-indicator {
    opacity: 1;
}

#contacts {
    display: flex;
    flex-direction: column;
}

#form__error {
    color: red;
}
