{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTMX Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>
<body>
    {{ template "create-contact-form" .ContactFormData }}
    <hr/>
    {{ template "contacts-list" .PageData }}
</body>
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener("htmx:beforeSwap", function(e) {            
            switch (e.detail.xhr.status) {
                case 422:
                    e.detail.shouldSwap = true;
                    e.detail.isError = false;
                    break;
                case 204:
                    e.detail.shouldSwap = true;
                    e.detail.isError = false;
                    break;
                default:
                    break;
            }
        });
    })
</script>
</html>
{{ end }}


{{ block "create-contact-form" . }}
<form hx-post="/contacts" hx-swap="outerHTML">
    <label for="name">Name</label>
    <input 
        {{ if .Values.name }}
            value="{{ .Values.name }}"
        {{ end }}
    type="text" name="name" placeholder="Name" required>
    <label for="email">Email</label>
    <input 
        {{ if .Values.email }}
            value="{{ .Values.email }}"
        {{ end }}
    type="text" name="email" placeholder="Email" required>

    {{ if .Errors.email }}
        <div id="form__error">
            {{ .Errors.email}}
        </div>
    {{ end }}

    <button type="submit">Create</button>
</form>
{{ end }}


{{ block "contacts-list" . }}
    <div id="contacts">
        {{ range .Contacts }}
            {{ template "contact" .}}
        {{ end }}
    </div>
{{ end }}

{{ block "contact" . }}
    <div id="contact-{{ .Id }}" class="contacts__item">
        <div class="contacts__delete" hx-delete="/contacts/{{ .Id }}" hx-swap="outerHTML swap:500ms" hx-target="#contact-{{ .Id }}" hx-indicator="#contact-indicator-{{ .Id }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path fill="#000" d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
        </div>
        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>

        <div id="contact-indicator-{{ .Id }}" class="htmx-indicator">
            <img src="/images/bars.svg" alt="loading" style="width: 1rem; height: 1rem">
        </div>
    </div>
{{ end }}

{{ block "oob-contact" . }}
    <div id="contacts" hx-swap-oob="afterbegin">
        {{ template "contact" . }}
    </div>
{{ end }}